<a href="https://colab.research.google.com/github/notorious0789/Study-of-Sets-and-Dictionaries/blob/main/Practical_5_Study_of_Sets_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment - 5
## Title : To Study Sets and Dictionaries in Python
### Apoorba Chatterjee
### 25070123020

Sets are used to store multiple items in a single variable.
Set is one of 4 built in data types in pyhtin used to store collection of data.
A set is a collection whch is unordered, unchangable and unindexed

# SETS

In [ ]:
# Creation of Set
thisset = {"orange", "chili", "kiwi"}
print(thisset)

{'chili', 'kiwi', 'orange'}

In [ ]:
# Unordered - No duplicate items
thisset = {"orange", "chili", "kiwi", "orange"}
print(thisset)

{'chili', 'kiwi', 'orange'}

In [ ]:
# The Values True and 1 are considered the same value in sets, and are true
thisset = {"orange", "chili", "kiwi", True, 1, 2}
print(thisset)

{True, 2, 'chili', 'orange', 'kiwi'}

In [ ]:
# The Values False and 0 are considered the same value in sets, and are false
thisset = {"orange", "chili", "kiwi", False, 0, 1}
print(thisset)

{False, 1, 'chili', 'orange', 'kiwi'}

In [ ]:
# A set with strings, integers and boolean values:
set1 = {"xyz", 27, True, 60, "female", 11.5}
set1

{11.5, 27, 60, True, 'female', 'xyz'}

In [ ]:
thisset = {"orange", "chili", "kiwi"}
print("chili" in thisset)
print("grapes" in thisset)

True
False

In [ ]:
# Once a set is created, you cannot replace its items, but you can add new items
thisset = {"orange", "chili", "kiwi"}
thisset.add("grapes")
print(thisset)

{'grapes', 'chili', 'kiwi', 'orange'}

In [ ]:
# Remove Item
thisset = {"orange", "chili", "kiwi"}
thisset.remove("kiwi")
print(thisset)

{'chili', 'orange'}

In [ ]:
# Set Operations
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("Union :", A | B)
print("Intersection :", A & B)
print("Difference :", A - B)
print("Symmetric difference :", A ^ B)

Union : {1, 2, 3, 4, 5, 6, 7, 8}
Intersection : {4, 5}
Difference : {1, 2, 3}
Symmetric difference : {1, 2, 3, 6, 7, 8}

In [ ]:
# Frozenset
x = frozenset({"orange", "chili", "kiwi"})
print(x)
print(type(x))

frozenset({'chili', 'kiwi', 'orange'})
<class 'frozenset'>

In [ ]:
# Adding or Removal of elements are not allowed in Frozenset

In [ ]:
# PROBLEM STATEMENT 1 - UNIQUE EVENT PARTICIPANTS
''' A college event has a list of students who registered multiple times by mistake.
WAPP using set to store participant Names and Display only unique paricipants.'''

# A college event has a list of students who registered multiple times by mistake. WAPP using set to store participant Names and Display only unique paricipants
# Solution 1
students = {"Aarav", "Riya", "Kunal", "Pooja", "Sarthak", "Neha", "Rupsa", "Aarav", "Riya", "Kunal", "Pooja", "Sarthak", "Neha"}
print("The List of Students who have registered are:")
print(students)

The List of Students who have registered are:
{'Rupsa', 'Aarav', 'Neha', 'Riya', 'Sarthak', 'Kunal', 'Pooja'}

In [ ]:
# Solution 2
students = ["Aarav", "Riya", "Kunal", "Pooja", "Sarthak", "Neha", "Rupsa", "Aarav", "Riya", "Kunal", "Pooja", "Sarthak", "Neha"]
unique_students = set(students)
print("The List of Students who have registered are:")
print(unique_students)

The List of Students who have registered are:
{'Neha', 'Sarthak', 'Rupsa', 'Aarav', 'Riya', 'Kunal', 'Pooja'}

In [ ]:
# PROBLEM STATEMENT 2 - ELECTIVE SUBJECTS
'''Three students choose elective subjects.
Find the common subjects chosen by both students using set operations.'''

#Three students choose elective subjects. Find the common subjects chosen by both students using set operations.

Apoorba = ["AMT","EDP","PES","EG","Cybersecurity","VLSI"]
Mini = ["CLA","EDP","FEEE","EG","Cybersecurity","Embedded Systems"]
Anvi =  ["CLA","AIML","FEEE","EG","Cybersecurity","OOPS"]
common_subjects = set(Apoorba) & set(Mini) & set(Anvi)
print("Common Subjects:", common_subjects)

Common Subjects: {'Cybersecurity', 'EG'}

In [ ]:
# PROBLEM STATEMENT 3 - SPORTS CLUBS
'''One set contains students in the Cricket Club,another in the Football Club.
Find students who are :
1. In Both Clubs
2. In Only One of the Clubs.'''

# One set contains students in the Cricket Club,another in the Football Club. Find students who are : 1. In Both Clubs 2. In oOnly One of the Clubs.

cricket = {"Anvi","Rupsa","Arddra","Ansh","Apoorba"}
football = {"Rupsa","Apoorba","Arddra"}
print("Students in both clubs:", cricket & football)
print("Students in only one of the clubs:", cricket ^ football)

Students in both clubs: {'Rupsa', 'Arddra', 'Apoorba'}
Students in only one of the clubs: {'Ansh', 'Anvi'}

In [2]:
# PROBLEM STATEMENT 4 - ABSENT STUDENTS
''' Given a set of all students and a set of present students,
find the absent students.'''
# Given a set of all students and a set of present students, find the absent students
students = {"Aarav", "Riya", "Kunal", "Pooja", "Sarthak", "Neha", "Rupsa"}
present_students = {"Aarav", "Rupsa", "Kunal", "Pooja"}
absent_students = students - present_students
print("The absent students are:")
print(absent_students)

The absent students are:
{'Sarthak', 'Neha', 'Riya'}

In [43]:
# PROBLEM STATEMENT 5 - REMOVE INVALID ENTRIES
# Remove invalid entries of courses

courses = ["FEEE", "EDP", "EG", "TPCS", "ECSF"]
print("Total courses:", courses)
actualcourses = set(courses)
actualcourses.remove("EG")
actualcourses.discard("ECSF")
print("Courses left:",actualcourses)

Total courses: ['FEEE', 'EDP', 'EG', 'TPCS', 'ECSF']
Courses left: {'FEEE', 'EDP', 'TPCS'}

# DICTIONARIES

A Dictionary is a collecton which is ordered, changeable and do not allow duplicates

In [4]:
# Creation of Dictionary
thisdict = {"Brand": "BMW", "Model": "M5 ", "Year": 2011 }
print(thisdict)

{'Brand': 'BMW', 'Model': 'M5 ', 'Year': 2011}

In [7]:
# Dictionary takes latest value given for key. It will not allow duplicate values
thisdict = {"Brand": "BMW", "Model": "M5 ", "Year": 2011, "Year": 2020}
print(thisdict)

{'Brand': 'BMW', 'Model': 'M5 ', 'Year': 2020}

In [10]:
# Length of Dictionary - Length of key-value pair
print(len(thisdict))

3

In [13]:
# Changing /Adding key-value in dictionary
car = {"Brand": "BMW", "Model": "M5 ", "Year": 2011}
car["Year"] = 2020
print(car)
car["Color"] = "Black"
print(car)
x = car.values()
print(x) #after the change

{'Brand': 'BMW', 'Model': 'M5 ', 'Year': 2020}
{'Brand': 'BMW', 'Model': 'M5 ', 'Year': 2020, 'Color': 'Black'}
dict_values(['BMW', 'M5 ', 2020, 'Black'])

In [14]:
# Retrival of values
student = {"Roll No":101,"Name":"Ajay","Branch": "E&TC"}
print("Name:", student["Name"])

Name: Ajay

In [21]:
# Adding and Updating Elements
student["Year"] = "Second"
student["Name"] = "Amit"
print(student)

{'Roll No': 101, 'Name': 'Amit', 'Branch': 'E&TC', 'Year': 'Second'}

In [23]:
# Removing Elements
student.pop("Branch")
print("After Removal:",student)

After Removal: {'Roll No': 101, 'Name': 'Amit', 'Year': 'Second'}

In [32]:
# PROBLEM STATEMENT 1 - PRODUCTS
''' 1. A Dictionary stores product names and their prices. WAPP to update the price of a given product.'''
#A Dictionary stores product names and their prices. WAPP to update the price of a given product.
products = {"Apple": 100, "Banana": 20, "Orange":50}
print("Original Products:",products)
products["Apple"] =55
print("Updated Products:",products)

Original Products: {'Apple': 100, 'Banana': 20, 'Orange': 50}
Updated Products: {'Apple': 55, 'Banana': 20, 'Orange': 50}

In [35]:
# PROBLEM STATEMENT 2 - STUDENT NAMES AND MARKS
''' 2. A Dictionary stores student names and their marks. WAPP to find the student's marks using the name entered. If the student is not found, display a suitable message.'''
marks = {"A":85, "B":90, "C":100}
name = input("Enter Student name:")
print(marks.get(name, "Student not Found"))

Enter Student name:A
85

In [39]:
# PROBLEM STATEMENT - 3 USERNAMES AND PASSWORDS
''' 3. A dictionary stores usernames and passwords. WAPP to validate user login'''
# A dictionary stores usernames and passwords. WAPP to validate user login
userdetails = {"admin":"1234", "Student":"abcd"}
user_name = input("Enter Username:")
password = input("Enter Password:")
if userdetails.get(user_name) == password:
    print("Login Successful")
else:
    print("Login Failed")

Enter Username:admin
Enter Password:1234
Login Successful

In [42]:
# PROBLEM STATEMENT 4 - HIGHEST MARKS
'''4. A Dictionary stores student names and marks.
WAPP to find the student who scored the highest marks.'''
Details = {"Alan":85, "Blake":90, "Charlie":100}
topper = max(Details, key=Details.get)
print("Student with highest marks:", topper)
print("Marks:", Details[topper])

Student with highest marks: Charlie
Marks: 100